@keyframes moveImage {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.moving-rounded-image {
  animation: moveImage 5s linear infinite;
}
/* Define the gradient border class with rounded corners */
.border-gradient {
  /* width: 300px;
  height: 80px; */
  border: double 10px transparent;
  border-radius: 30px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #ffffff, #6da9e4);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.border-gradient2 {
  /* width: 300px;
  height: 80px; */
  border: double 10px transparent;
  border-radius: 13px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #ffffff, #6da9e4);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.border-gradient3 {
  /* width: 300px;
  height: 80px; */
  border: double 10px transparent;
  border-radius: 13px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #6da9e4, #e7e7e7);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
