@keyframes moveImage {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.moving-rounded-image {
  animation: moveImage 5s linear infinite;
}
/* Define the gradient border class with rounded corners */
/* .border-gradient {
  border: 2px solid transparent;
  background-clip: padding-box;
  border-image: linear-gradient(45deg, #6da9e4, #ade4db);
  border-image-slice: 1;
} */
